In [2]:
from urllib.request import urlopen
import json
import psycopg2
import requests

In [7]:
HOST = "localhost"
DB = 'al-quran'
DB_USER = 'postgres'
DB_PASSWORD = '2619'
DB_POST = '5432'
try:
    conn = psycopg2.connect(
        host = HOST,
        database = DB,
        user = DB_USER,
        password = DB_PASSWORD,
        port = DB_POST
)
    print (f"You connect database "  + DB +" successfully")
except psycopg2.Error as e: 
    print("Error: Could not make connection to the Postgres database")
    print(e)

try: 
    cur = conn.cursor()
except psycopg2.Error as e: 
    print("Error: Could not get curser to the Database")
    print(e)

conn.set_session(autocommit=True)

You connect database al-quran successfully

In [5]:
try: 
    cur.execute("CREATE TABLE IF NOT EXISTS arabic (index int primary key,surah int ,ayah int, text varchar);")
except psycopg2.Error as e: 
    print("Error: Issue creating table")
    print (e)

try: 
    cur.execute("COPY PUBLIC.arabic FROM 'E:\sql/arabic.csv' DELIMITER ',' CSV HEADER;")
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)

In [4]:
try: 
    cur.execute("CREATE TABLE IF NOT EXISTS quran_surah (surah int PRIMARY KEY,arabic varchar, latin varchar,english varchar,localtion varchar,sajda varchar,ayah int,types varchar);")
except psycopg2.Error as e: 
    print("Error: Issue creating table")
    print (e)
    
try: 
    cur.execute("COPY PUBLIC.quran_surah FROM 'E:\sql/quran_surah.csv' DELIMITER ',' CSV HEADER;")
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)

Error: Inserting Rows
extra data after last expected column
CONTEXT:  COPY quran_surah, line 2: "1,"سورة الفاتحة","Al-Fatiha","The Opening","1","0",7,"Makiyah""

In [5]:
try: 
    cur.execute("CREATE TABLE IF NOT EXISTS th_thai (index int PRIMARY KEY,surah varchar, ayah varchar,text varchar);")
except psycopg2.Error as e: 
    print("Error: Issue creating table")
    print (e)

try: 
    cur.execute("COPY PUBLIC.th_thai FROM 'E:\sql/th_thai-King Fahad Quran Complex.csv' DELIMITER ',' CSV HEADER;")
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)

Error: Inserting Rows
duplicate key value violates unique constraint "th_thai_pkey"
DETAIL:  Key (index)=(1) already exists.
CONTEXT:  COPY th_thai, line 2

In [6]:
try: 
    cur.execute("CREATE TABLE IF NOT EXISTS malay (index int PRIMARY KEY,surah varchar, ayah varchar,text varchar);")
except psycopg2.Error as e: 
    print("Error: Issue creating table")
    print (e)

try: 
    cur.execute("COPY PUBLIC.malay FROM 'E:\sql/malay_basmeih-tanzil.csv' DELIMITER ',' CSV HEADER;")
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)

Error: Inserting Rows
duplicate key value violates unique constraint "malay_pkey"
DETAIL:  Key (index)=(1) already exists.
CONTEXT:  COPY malay, line 2

In [7]:
try: 
    cur.execute("CREATE TABLE IF NOT EXISTS indo_indonesia (index int PRIMARY KEY,surah varchar, ayah varchar,text varchar);")
except psycopg2.Error as e: 
    print("Error: Issue creating table")
    print (e)

try: 
    cur.execute("COPY PUBLIC.indo_indonesia FROM 'E:\sql/indonesian_affairs.csv' DELIMITER ',' CSV HEADER;")
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)

Error: Inserting Rows
duplicate key value violates unique constraint "indo_indonesia_pkey"
DETAIL:  Key (index)=(1) already exists.
CONTEXT:  COPY indo_indonesia, line 2

In [8]:
try: 
    cur.execute("CREATE TABLE IF NOT EXISTS cambodia (index int PRIMARY KEY,surah varchar, ayah varchar,text varchar);")
except psycopg2.Error as e: 
    print("Error: Issue creating table")
    print (e)

try: 
    cur.execute("COPY PUBLIC.cambodia  FROM 'E:\sql/cambodia-quranenc.csv' DELIMITER ',' CSV HEADER;")
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)

Error: Inserting Rows
duplicate key value violates unique constraint "cambodia_pkey"
DETAIL:  Key (index)=(1) already exists.
CONTEXT:  COPY cambodia, line 2

In [9]:
try: 
    cur.execute("CREATE TABLE IF NOT EXISTS eng (index int PRIMARY KEY,surah varchar, ayah varchar,text varchar);")
except psycopg2.Error as e: 
    print("Error: Issue creating table")
    print (e)

try: 
    cur.execute("COPY PUBLIC.eng  FROM 'E:\sql/english_saheeh.csv' DELIMITER ',' CSV HEADER;")
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)

Error: Inserting Rows
duplicate key value violates unique constraint "eng_pkey"
DETAIL:  Key (index)=(1) already exists.
CONTEXT:  COPY eng, line 2

In [11]:
import sql
%load_ext sql

DB_ENDPOINT = "127.0.0.1"
DB = 'al-quran'
DB_USER = 'postgres'
DB_PASSWORD = '2619'
DB_PORT = '5432'

# postgresql://username:password@host:port/database
conn_string = "postgresql://{}:{}@{}:{}/{}" \
                        .format(DB_USER, DB_PASSWORD, DB_ENDPOINT, DB_PORT, DB)

print(conn_string)
%sql $conn_string

The sql extension is already loaded. To reload it, use:
  %reload_ext sql
postgresql://postgres:2619@127.0.0.1:5432/al-quran

In [12]:
narabic = %sql select count(ayah) from arabic;
print("all ayah =", narabic[0][0])

 * postgresql://postgres:***@127.0.0.1:5432/al-quran
1 rows affected.
all ayah = 6236

In [16]:
%%sql
SELECT Types, count(1)
FROM quran_surah
GROUP BY Types

 * postgresql://postgres:***@127.0.0.1:5432/al-quran
2 rows affected.

[('Madaniyah', 28), ('Makiyah', 86)]

In [19]:
%%sql
SELECT arabic.surah as surah, quran_surah.latin as latin,count(1)
FROM arabic
JOIN quran_surah ON arabic.surah =  quran_surah.surah
GROUP BY arabic.surah,latin
ORDER BY arabic.surah ASC
LIMIT 5

 * postgresql://postgres:***@127.0.0.1:5432/al-quran
5 rows affected.

[(1, 'Al-Fatiha', 7),
 (2, 'Al-Baqara', 286),
 (3, 'Aal-e-Imran', 200),
 (4, 'An-Nisa', 176),
 (5, 'Al-Maeda', 120)]

In [22]:
%%sql
SELECT arabic.surah, quran_surah.latin as latin, quran_surah.sajda as ayah_sajda
FROM arabic
JOIN quran_surah ON arabic.surah = quran_surah.surah
WHERE quran_surah.sajda != '0'
GROUP BY  arabic.surah,latin,ayah_sajda
ORDER BY arabic.surah ASC

 * postgresql://postgres:***@127.0.0.1:5432/al-quran
14 rows affected.

[(7, 'Al-Araf', '206'),
 (13, 'Ar-Rad', '15'),
 (16, 'An-Nahl', '50'),
 (17, 'Al-Isra', '100'),
 (19, 'Maryam', '58'),
 (22, 'Al-Hajj', '18'),
 (25, 'Al-Furqan', '60'),
 (27, 'An-Naml', '26'),
 (32, 'As-Sajda', '15'),
 (38, 'Sad', '24'),
 (41, 'Fussilat', '38'),
 (53, 'An-Najm', '62'),
 (84, 'Al-Inshiqaq', '21'),
 (96, 'Al-Alaq', '19')]

In [15]:
nsajda = %sql SELECT count(sajda),count(1) FROM quran_surah WHERE quran_surah.sajda != '0';
print("sajda =", nsajda[0][0])

 * postgresql://postgres:***@127.0.0.1:5432/al-quran
1 rows affected.
sajda = 14

In [5]:
nosajda = %sql SELECT count(sajda),count(1) FROM quran_surah WHERE quran_surah.sajda = '0';
print("Surah without sajda =", nosajda[0][0])

 * postgresql://postgres:***@127.0.0.1:5432/al-quran
1 rows affected.
Surah without sajda = 100

In [24]:
%%sql
SELECT * FROM arabic WHERE arabic.text = 'الٓمٓ'

 * postgresql://postgres:***@127.0.0.1:5432/al-quran
6 rows affected.

[(8, 2, 1, 'الٓمٓ'),
 (294, 3, 1, 'الٓمٓ'),
 (3341, 29, 1, 'الٓمٓ'),
 (3410, 30, 1, 'الٓمٓ'),
 (3470, 31, 1, 'الٓمٓ'),
 (3504, 32, 1, 'الٓمٓ')]

In [22]:
nalif = %sql SELECT count(arabic),count(1) FROM arabic WHERE arabic.text = 'الٓمٓ';
print("Surahs that begin with Alif Lam Meem =", nalif[0][0])

 * postgresql://postgres:***@127.0.0.1:5432/al-quran
1 rows affected.
Surahs that begin with Alif Lam Meem = 6

In [26]:

nameallah = %sql SELECT count(eng),count(1) FROM eng WHERE text LIKE '%Allāh%';
print("Names of Allah mentioned in the Qur'an =", nameallah[0][0])

 * postgresql://postgres:***@127.0.0.1:5432/al-quran
1 rows affected.
Names of Allah mentioned in the Qur'an = 2023

In [14]:
ayahmore  = %sql SELECT count(quran_surah),count(1) FROM quran_surah WHERE ayah > '200' ;
print("More than 200 ayahs in total =", ayahmore[0][0],'surah')

 * postgresql://postgres:***@127.0.0.1:5432/al-quran
1 rows affected.
More than 200 ayahs in total = 3 surah

In [18]:
%%sql
SELECT * FROM quran_surah WHERE ayah > '200';

 * postgresql://postgres:***@127.0.0.1:5432/al-quran
3 rows affected.

[(2, 'سورة البقرة', 'Al-Baqara', 'The Cow', '0', 286, 'Madaniyah'),
 (7, 'سورة الأعراف', 'Al-Araf', 'The heights', '206', 206, 'Makiyah'),
 (26, 'سورة الشعراء', 'Ash-Shuara', 'The Poets', '0', 227, 'Makiyah')]

In [17]:
ayahmore  = %sql SELECT count(quran_surah),count(1) FROM quran_surah WHERE ayah > '50' ;
print("less than 50 ayahs in total =", ayahmore[0][0],'surah')

 * postgresql://postgres:***@127.0.0.1:5432/al-quran
1 rows affected.
less than 50 ayahs in total = 47 surah

In [ ]:
%%sql
SELECT * FROM quran_surah WHERE ayah <= '50';

In [20]:
%%sql 
SELECT min(ayah) as min, max(ayah) as max from quran_surah;

 * postgresql://postgres:***@127.0.0.1:5432/al-quran
1 rows affected.

[(3, 286)]

In [33]:
%%sql
SELECT arabic.surah,quran_surah.arabic as surah_arabic,quran_surah.latin as surah_latin,
arabic.ayah,arabic.text as arabic,
th_thai.text as th_translate,
malay.text as ms_translate,
indo_indonesia as id_translate,
cambodia.text as cb_translate
FROM arabic
JOIN quran_surah ON arabic.surah = quran_surah.surah
JOIN th_thai ON arabic.index = th_thai.index
JOIN malay ON arabic.index = malay.index
JOIN indo_indonesia ON arabic.index = indo_indonesia.index
JOIN cambodia ON arabic.index = cambodia.index
LIMIT 10;

 * postgresql://postgres:***@127.0.0.1:5432/al-quran
10 rows affected.

[(1, 'سورة الفاتحة', 'Al-Fatiha', 1, 'بِسۡمِ ٱللَّهِ ٱلرَّحۡمَٰنِ ٱلرَّحِيمِ', 'ด้วยพระนามของอัลลอฮฺ ผู้ทรงกรุณาปราณี ผู้ทรงเมตตาเสมอ', '  Dengan nama Allah  Yang Maha Pemurah  lagi Maha Mengasihani.        ', '(1,1,1,"Dengan nama Allah Yang Maha Pengasih, Maha Penyayang.")', ' ក្នុងនាមអល់ឡោះមហាសប្បុរស មហាអាណិតស្រឡាញ់។'),
 (1, 'سورة الفاتحة', 'Al-Fatiha', 2, 'ٱلۡحَمۡدُ لِلَّهِ رَبِّ ٱلۡعَٰلَمِينَ', 'การสรรเสริญทั้งหลายนั้น เป็นสิทธิของอัลลอฮฺผู้เป็นพระเจ้าแห่งสากลโลก', '  Segala puji tertentu bagi Allah  Tuhan yang memelihara dan mentadbirkan sekalian alam.        ', '(2,1,2,"Segala puji bagi Allah, Tuhan seluruh alam,")', ' រាល់ការសរសើរ គឺចំពោះអល់ឡោះដែលជាម្ចាស់គ្រប់គ្រង ពិភពទាំងអស់។'),
 (1, 'سورة الفاتحة', 'Al-Fatiha', 3, 'ٱلرَّحۡمَٰنِ ٱلرَّحِيمِ', 'ผู้ทรงกรุณาปราณี ผู้ทรงเมตตาเสมอ', '  Yang Maha Pemurah  lagi Maha Mengasihani.        ', '(3,1,3,"Yang Maha Pengasih, Maha Penyayang,")', ' ជាម្ចាស់មហាសប្បុរស មហាអាណិតស្រឡាញ់។'),
 (1, 'سورة الفاتحة', 'Al-Fatiha', 4, 'مَٰلِكِ يَوۡمِ ٱلدِّينِ', 'ผู้ทรงอภิสิทธิ์แห่งวันตอบแทน', '  Yang Menguasai pemerintahan hari Pembalasan (hari Akhirat).        ', '(4,1,4,"Pemilik hari pembalasan.1)")', ' ជាសេ្ដច(គ្រប់គ្រង)នៃថ្ងៃជំនុំជំរះ(បរលោក)។'),
 (1, 'سورة الفاتحة', 'Al-Fatiha', 5, 'إِيَّاكَ نَعۡبُدُ وَإِيَّاكَ نَسۡتَعِينُ', 'เฉพาะพระองค์เท่านั้นที่พวกข้าพระองค์เคารพอิบาดะฮฺ และเฉพาะพระองค์เท่านั้นที่พวกข้าพระองค์ขอความช่วยเหลือ', '  Engkaulah sahaja (Ya Allah) Yang Kami sembah  dan kepada Engkaulah sahaja kami memohon pertolongan.        ', '(5,1,5,"Hanya kepada Engkaulah kami menyembah dan hanya kepada Engkaulah kami mohon pertolongan.")', ' ចំពោះទ្រង់តែមួយគត់ដែលពួកយើងគោរពសក្ការៈ ហើយ ចំពោះទ្រង់តែមួយគត់ដែលពួកយើងសុំឱ្យជួយ។'),
 (1, 'سورة الفاتحة', 'Al-Fatiha', 6, 'ٱهۡدِنَا ٱلصِّرَٰطَ ٱلۡمُسۡتَقِيمَ', 'ขอพระองค์ทรงแนะนำพวกข้าพระองค์ซึ่งทางอันเที่ยงตรง', '  Tunjukilah kami jalan yang lurus.        ', '(6,1,6,"Tunjukilah kami jalan yang lurus,2)")', ' សូមទ្រង់មេត្ដាចង្អុលបង្ហាញដល់ពួកយើងនូវមាគ៌ា ដ៏ត្រឹម ត្រូវផងចុះ។'),
 (1, 'سورة الفاتحة', 'Al-Fatiha', 7, 'صِرَٰطَ ٱلَّذِينَ أَنۡعَمۡتَ عَلَيۡهِمۡ غَيۡرِ ٱلۡمَغۡضُوبِ عَلَيۡهِمۡ وَلَا ٱلضَّآلِّينَ', '(คือ) ทางของบรรดาผู้ที่พระองค์ได้ทรงโปรดปราณแก่พวกเขา มิใช่ในทางของพวกที่ถูกกริ้ว และมิใช่ทางของพวกที่หลงผิด', '  Iaitu jalan orang-orang yang Engkau telah kurniakan nikmat kepada mereka  bukan (jalan) orang-orang yang Engkau telah murkai  dan bukan pula (jalan) orang-orang yang sesat.        ', '(7,1,7,"(yaitu) jalan orang-orang yang telah Engkau beri nikmat kepadanya; bukan (jalan) mereka yang dimurkai, dan bukan (pula jalan) mereka yang sesat.3)")', ' គឺមាគ៌ា របស់បណ្ដាអ្នកដែលទ្រង់បានប្រទាននៀកម៉ាត់ ដល់ពួកគេ ពុំមែនជា(មាគ៌ា)អ្នកដែលត្រូវគេខឹងសម្បា និងពុំមែន ជា(មាគ៌ា)ពួកដែលវងេ្វងឡើយ។'),
 (2, 'سورة البقرة', 'Al-Baqara', 1, 'الٓمٓ', 'อะลิฟ ลาม มีม', '  Alif  Laam  Miim.        ', '(8,2,1,"Alif Lām Mīm.4)")', ' អាលីហ្វ ឡាម មីម។'),
 (2, 'سورة البقرة', 'Al-Baqara', 2, 'ذَٰلِكَ ٱلۡكِتَٰبُ لَا رَيۡبَۛ فِيهِۛ هُدٗى لِّلۡمُتَّقِينَ', 'คัมภีร์นี้ ไม่มีความสงสัยใด ๆ ในนั้น เป็นคำแนะนำสำหรับบรรดาผู้ยำเกรงเท่านั้น', '  Kitab Al-Quran ini  tidak ada sebarang syak padanya (tentang datangnya dari Allah dan tentang sempurnanya); ia pula menjadi petunjuk bagi orang-orang yang (hendak) bertaqwa;        ', '(9,2,2,"Kitab (Al-Qur`an) ini tidak ada keraguan padanya; petunjuk bagi mereka yang bertakwa,5)")', ' នេះគឺជាគម្ពីរ(គួរអាន)ដែលគ្មានការសង្ស័យឡើយនៅ ក្នុងវា។ វាគឺជាការចង្អុលបង្ហាញចំពោះបណ្ដាអ្នកដែលកោតខ្លាចអល់ឡោះ។'),
 (2, 'سورة البقرة', 'Al-Baqara', 3, 'ٱلَّذِينَ يُؤۡمِنُونَ بِٱلۡغَيۡبِ وَيُقِيمُونَ ٱلصَّلَوٰةَ وَمِمَّا رَزَقۡنَٰهُمۡ يُنفِقُونَ', 'คือบรรดาผู้ศรัทธาต่อสิ่งเร้นลับ และดำรงไว้ซึ่งการละหมาด และส่วนหนึ่งจากสิ่งที่เราได้ให้เป็นปัจจัยยังชีพแก่พวกเขานั้น พวกเขาก็บริจาค', '  Iaitu orang-orang yang beriman kepada perkara-perkara yang ghaib  dan mendirikan (mengerjakan) sembahyang serta membelanjakan (mendermakan) sebahagian dari rezeki yang Kami berikan kepada mereka.        ', '(10,2,3,"(Yaitu) mereka yang beriman kepada yang gaib, melaksanakan salat, dan menginfakkan6) sebagian rezeki yang Kami berikan kepada mereka,")', ' គឺបណ្ដាអ្នកដែលមានជំនឿនឹងប្រការអាថ៌កំបាំង ហើយ ប្រតិបត្ដិសឡាតនិងបរិច្ចាគមួយចំនួននូវអ្វីដែលយើងបានប្រទានឱ្យពួកគេ។')]